.container {
    width: 100%;
    min-height: 600px;
    display: flex;
    overflow-x: auto;
    overflow-y: scroll;
}

.column-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}