<div class="card-modal" [class.hide]="tohide">
    <a routerLink="/" routerLinkActive="active">
        <div class="cancel-button"></div>
    </a>

    <form class="new-card-form">
        <div class="form-group">
            <label>Column Name</label><br>
            <input type="text" name="column" class="modal-input" #columnName>
        </div><br>
        <a routerLink="/kanban" routerLinkActive="active">
            <button class="submit-card" (click)="createColumn(columnName.value)">
            Add Column
          </button>
        </a>
        <br>
    </form>
</div>