<div class="container">
    <form class="form-body">
        <div class="form-group">
            <label>user name</label><br>
            <input type="text" name="userName" class="modal-input">
        </div><br>
        <div class="form-group">
            <label>password</label><br>
            <input type="password" name="password" class="modal-input">
        </div><br>
        <a routerLink="/kanban" routerLinkActive="active"><button class="submit">Login</button></a>
        <br>
        <a routerLink="/signup" routerLinkActive="active"><button class="submit">Signup</button></a>
        <br>
    </form>
</div>