<div class="column">
    <div class="column-header">{{column.columnName}}
        <div class="cancel-button" (click)="deleteColumn.emit()"></div>
        <a routerLink="/newcard" routerLinkActive="active"><img src="../../assets/plus.svg" class="add"></a>
    </div>
    <div class="column-body">
        <ul class="card-container">
            <li *ngFor="let card of cards">
                <app-card [card]=card (deleteCard)="deleteCard(card)"></app-card>
            </li>
        </ul>
    </div>
</div>