<div class="card-modal" [class.hide]="tohide">
    <a routerLink="/kanban" routerLinkActive="active">
        <div class="cancel-button"></div>
    </a>

    <form class="new-card-form">
        <div class="form-group">
            <label>Task</label><br>
            <input type="text" name="task" class="modal-input" #task>
        </div>
        <div class="form-group">
            <label>Column Name</label><br>
            <input type="text" name="columnName" class="modal-input" #columnName>
        </div>
        <div class="form-group">
            <label>Card Status</label><br>
            <input type="text" name="status" class="modal-input" #status>
        </div>
        <br>
        <a routerLink="/kanban" routerLinkActive="active"><button class="submit-card" (click)="createCard(columnName.value,task.value,status.value)">Add Card</button></a>
        <br>
    </form>
</div>