<div class="card-modal" [class.hide]="tohide">

    <a routerLink="/" routerLinkActive="active">
        <div class="cancel-button"></div>
    </a>

    <form class="new-card-form">
        <div class="form-group">
            <label>Task</label><br>
            <input type="text" name="task" class="modal-input" #task>
        </div>
        <div class="form-group">
            <label>Id</label><br>
            <input type="text" name="id" class="modal-input" #id>
        </div>
        <br>
        <a routerLink="/kanban" routerLinkActive="active"><button class="submit-card" (click)="createCard(task.value,id.value)">Add Card</button></a>
        <br>
    </form>
</div>